<!-- 장바구니 -->

<div class="wrap">
  <div class="container">
    <h2>생성일자:</h2>

    <table>
      <thead>
        <tr>
          <th scope="col">책이름</th>
          <th scope="col">가격</th>
          <th scope="col">수량</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <!-- 삭제 -->
        </tr>
      </tbody>
    </table>
    <!-- 구매 -->
    <button type="button" onclick="location.href = '#'">구매</button>
  </div>
</div>
