<!DOCTYPE html>

<head>

<style>
  /* css */
.logo {
        width: 200px;
        height: 200px;
      }
.title {
        display: flex;
      }
/* --------- */


</style>
</head>
<body>

<div class="title">
      <!-- <h1>도서구매사이트</h1> -->
      <marquee
        direction="down"
        width="1000"
        height="500"
        behavior="alternate"
      >
        <marquee behavior="alternate">

<a href = "/main">
          <img id="jini" src="images/logo.png" class="logo" />
</a>

        </marquee>
      </marquee>
    </div>
</body>
</html>